body {
  font-family: Arial, sans-serif;
  background-image: url('/Ilha/fundo.png'); /* Ajuste conforme necessário */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-height: 92vh;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}
select, input[type="text"], input[type="file"], input[type="submit"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px; /* Espaçamento entre os campos */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Garante que padding e border estão incluídos na largura total */
}
input[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}